asgiref==3.9.1
blinker==1.9.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
Django==5.2.5
django-cors-headers==4.9.0
django-debug-toolbar==6.0.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
et_xmlfile==2.0.0
Flask==3.1.2
git-filter-repo==2.47.0
idna==3.10
iniconfig==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
networkx==3.5
numpy==2.3.2
openpyxl==3.1.5
packaging==25.0
pandas==2.3.2
pluggy==1.6.0
psycopg2-binary==2.9.10
PuLP==3.3.0
Pygments==2.19.2
PyJWT==2.10.1
pytest==8.4.2
pytest-django==4.9.0
coverage==7.6.10
pytest-cov==5.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
requests==2.32.5
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
Werkzeug==3.1.3
